

/* ==================================HALAMAN 1=========================================== */


/* ===========================HALAMAN 2=============================== */


/* ===========================HALAMAN 3===================================== */


/* ==========================HALAMAN 4================================= */


/* ==========================RESPONSIF================================= */


@media (max-width: 768px) {

    nav{
        padding: 6px 16px;
    }

    nav h1{
        font-size: 12px;
        line-height: 16px;
    }

    .nav-list {
        display: none;
    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        padding: 20px;
        gap: 16px;
        backdrop-filter: blur(12px);
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }

    .nav-list li a {
        color: white;
        font-size: 18px;
        text-decoration: none;
        padding: 8px 0;
        transition: 0.2s;
    }

    .nav-list li a:hover {
        color: var(--color-primary);
    }

    .nav-right{
        gap: 5px;
    }

    .hamburger-btn {
        display: flex;
        color: white;
        cursor: pointer;
        font-size: 20px;
        transition: 0.3s;
    }

    .hamburger-btn:hover {
        color: var(--color-primary);
    }

    .hamburger-btn .close {
        display: none;
    }

    .cart{
        font-size:15px;
        padding: 8px;
    }

    /* ================== RESPONSIF HALAMAN 1============================== */

    .container-home .section-hero h1 {
        font-size: 30px;
    }

    .container-home .section-hero p {
        font-size: 15px;
    }

    .cta-buttons {
        flex-direction: column;
        gap: 16px;
    }

    .btn {
        padding: 10px 18px;
        height: 40px;
        font-size: 14px;
        width: 50%;
        margin: 0 auto;
    }

    .container-home .section-about .about h2{
        font-size: 25px
    }

    .section-features {
        gap: 50px;
        padding: 50px;
    }

    .section-features .features {
        gap: 15px;
    }

    .section-features .features .feature {
        height: 150px;
        width: 150px;

    }

    .section-features .features .feature i {
        font-size: 24px;
    }

    .section-features .features .feature h3 {
        font-size: 16px;
    }

    .section-features .features .feature p {
        font-size: 8px;
    }

    /* =====================RESPONSIF HALAMAN 2  =============================*/

    .banner {
        height: 20vh;
    }

    .container-product .search input[type="search"]{
        font-size: 10px;
        padding: 10px;
    }

    .container-product .search {
        gap: 10px;
        padding: 5px 16px;
    }

    .categories{
        display: none;
    }

    .categories.active {
        display: block;
        position: absolute;
        right: 20px;
        top: 200px;
        width: 100px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        backdrop-filter: blur(12px);
        background: rgba(0, 0, 0, 0.7);
        gap: 4px;
        z-index: 9;
    }

    .categories a {
        background: transparent;
        border: none;
        color: white;
        font-size: 14px;
        padding: 5px 9px;
        text-align: left;
    }

    .categories a:hover{
        background: transparent;
        text-decoration: underline;
        color: var(--color-primary);
    }

    .icon-category {
        display: block;
        background: var(--color-primary);
        color: white;
        padding: 0;
        border-radius: 4px;
        font-size: 14px;
        transition: 1.03s;
    }

    .icon-category .closeCategory{
        display: none;
    }

    .icon-category i {
        transition: 1.03s;
        font-size: 20px;
        padding: 4px;
        width: 30px;
        height: 30px;
    }

    .icon-category:hover i {
        transform: scale(1.2);
    }

    .icon-category:hover {
        background: #67e8f9;
        cursor: pointer;
    }

    .list-product-section {
        padding: 20px 10px;
        gap: 20px;
    }

    .list-product-section h2 {
        font-size: 16px;
    }

    .list-product-section div[id$="-list"] {
        gap: 10px;
        padding-bottom: 40px;
    }

    .product-card {
        width: 30%;
    }

    .product-card img {
        height: 100px;
    }

    .product-card h3 {
        font-size: 10px;
        margin-bottom: 4px;
    }

    .product-card p {
        font-size: 8px;
        min-height: 8px;
        margin-bottom: 5px;
    }

    .product-card .cart-btn {
        font-size: 10px;
        padding: 5px 8px;
    }

    /* =============================== ROSPINSIF HALAMAN 3=================== */
    .container-ideas .section-ideas{
        padding-top: 70px;
    }
    .container-ideas .section-ideas h2{
        font-size: 25px;
    }

    .section-ideas .ideas-list .ideas-card{
        flex-direction: column;
    }

    .ideas-card .image-idea{
        width: 100%;
        height: 50%;
    }

    .ideas-card .desc-idea{
        width: 100%;
        padding: 20px;
        gap: 5px;
    }

    .ideas-card .desc-idea h3{
        font-size: 20px;
    }
    .ideas-card .desc-idea p{
        font-size: 12px;
    }
    .ideas-card .desc-idea a{
        font-size: 12px;
    }

    /* ======================RESPONSIF HALAMAN 4 =====*/

    .container-contact .section-contact{
        flex-direction: column;
        height: 80%;
        margin-top: 30px;
        border-radius: 10px;
    }

    .section-contact .get-in-touch{
        width: 100%;
        height: 50%;
        padding: 20px;
        border-radius: 10px;
    }

    .section-contact .get-in-touch h2{
        font-size: 24px;
    }

    .section-contact .get-in-touch p{
        margin-bottom: 10px;
        color: #121212;
    }

    .section-contact .get-in-touch .social-media p{
        margin-bottom: 5px;
    }

    .section-contact form{
        width: 100%;
        height: 50%;
        padding: 20px;
        gap: 10px;
        align-items: center;
    }

    .section-contact form input{
        width: 100%;
        border-radius: 2px;
    }
    
    .section-contact form textarea{
        height: 60px;
        width: 100%;
        border-radius: 2px;
    }

}