*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif; 
}
a{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}

/* style navbar */

nav{
    position: fixed;
    top: 16px;
    left: 5%;
    width: 90%;
    padding: 12px 32px;
    backdrop-filter: blur(12px);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

nav h1{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.tech{
    color: #e5e7eb;
}
.gear{
    color: #22d3ee;
}

.tech, .gear{
    font-family: 'Orbitron', sans-serif; 
}

.nav-list{
    display: flex;
    gap: 32px;
    font-size: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list a {
    color: white;
    text-decoration: none;
    transition: color 0.1s;
}

.nav-list a:hover {
    color: #22d3ee;
}

.hamburger-btn{
    display: none;
}

/* style hero */
main section{
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    background:  url(hero.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
}

main section h1{
    font-size: 80px;
    color: white;
}

main section p{
    font-size: 20px;
    font-weight: 500;
    color: #e5e7eb;
    font-style: italic;
}

.cta-buttons {
    margin-top: 2rem;   /*pxnya brpa*/
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    animation: fadeInUp 1s ease forwards;
}

.btn {
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 48px;
}

  /* Tombol utama */
.btn-primary {
    background-color: #22d3ee;
    color: black;
    transition: all 0.1s ease;
}

.btn-primary:hover {
    background-color: #a1e9f4;
    color: black;
}

  /* Tombol kedua */
.btn-outline {
    border: 2px solid #22d3ee;
    color: #22d3ee;
    transition: all 0.1s ease;
}

.btn-outline:hover {
    background-color: #22d3ee;
    color: black;
}







/* responif */
@media (max-width: 768px) {
    .nav-list{
        display: none;
    }
    .hamburger-btn{
        display: flex;
        color: white;
        cursor: pointer;
    }
    .nav-list.active{
        display: flex;
        flex-direction: column;
    }
}